.article
    &-head
        gap: 8px
        margin-bottom: 8px
        &>*
            margin: 0

    &-img
        width: 100%
        display: block
        aspect-ratio: 1290/513
        object-fit: cover
        max-width: 1322px
        border-radius: $b-rad
        margin: 0 auto 8px

    &-tags
        gap: $gap

    &-tags,
    &-content,
    .breadcumbs
        width: 100%
        padding: 0 var(--bs-gutter-x)
        max-width: 750px
        margin: 0 auto

    &-content
        gap: $gap
        z-index: 1
        position: relative
        img
            width: 100%
            display: block
            border-radius: $b-rad

        &>*
            margin: 0

    blockquote
        font-size: var(--font-md)
        color: var(--text-gray)
        font-style: italic
        padding: 4px 0 4px 20px
        border-left: 1px solid $dark

    hr
        height: 1px
        width: 100%
        background-color: var(--text-gray)
        display: block

    ol, ul
        padding-left: 26px
        p
            margin-bottom: 10px

    @media screen and ( max-width: 1199px )
        &-head
            padding: 0
            max-width: 100%

    @media screen and ( max-width: 991px )
        &-img
            aspect-ratio: 375/200

        &-content
            z-index: unset
            position: static

    @media screen and ( max-width: 767px )
        &-img
            margin: 0
            z-index: -11
            border-radius: 0
            position: relative
            aspect-ratio: 375/250

        &-head
            z-index: 1
            position: relative
            margin-bottom: 16px
            flex-direction: column-reverse
            .blog__date
                color: white

            &::before
                content: ''
                width: 100%
                height: 100%
                top: 0
                left: 0
                z-index: -1
                display: block
                position: absolute
                pointer-events: none
                background: linear-gradient(180deg, rgba(0, 0, 0, 0) 65.6%, #000000 100%)

        &-tags
            bottom: 0
            left: 0
            padding: 16px
            position: absolute
            z-index: 11

.share
    top: 0
    left: calc( 100% + 32px )
    height: 100%
    z-index: 1
    max-width: 40px
    position: absolute
    &-btn
        min-height: 0
        background-color: rgba(0, 0, 0, 0)
        padding: 4px 0
        font-size: var(--font-sm)
        color: var(--text-gray)
        .ic
            fill: var(--text-gray)

    &-text
        position: relative
        white-space: nowrap
        padding: 2px 5px
        border-radius: $b-rad
        transition: .3s ease
        background-color: var(--light-gray)

        &::after
            content: ''
            display: block
            width: 10px
            height: 10px
            top: 50%
            left: -5px
            z-index: -1
            border-radius: 2px
            pointer-events: none
            background-color: var(--light-gray)
            position: absolute
            transform: translateY(-50%) rotate(45deg)

        @media screen and ( min-width: 992px )
            left: 130%
            position: absolute
            opacity: 0
            visibility: hidden
            transform: translateX(-10px)

    &-content
        // gap: 0
        top: calc( var(--header-height) + 20px )
        position: sticky

    &-link
        text-align: left
        padding: 8px
        border-radius: $b-rad
        background-color: white
        border: 1px solid var(--border-color)
        // &:not(:last-child)
        //     border-bottom: none
        
        &:hover
            opacity: 1
            span
                opacity: 1
                visibility: visible
                transform: translateX(0px)

    @media screen and ( max-width: 1440px ) and ( min-width: 992px )
        &-text
            left: auto
            right: 120%
            &::after
                left: auto
                right: -5px

    @media screen and ( max-width: 991px )
        left: 0
        top: 0
        width: 100%
        max-width: 100%
        height: 100%
        z-index: 999
        position: fixed
        background-color: rgba(var(--dark), .7)
        transition: .3s ease
        opacity: 0
        visibility: hidden
        &-content
            top: auto
            transition: inherit
            margin: auto
            background: white
            position: absolute
            bottom: var(--navbar-height)
            border-radius: $b-rad $b-rad 0 0
            width: 100%
            padding: 16px
            opacity: 0
            visibility: hidden
            transform: translateY(40px)

        &-link
            width: 100%

        &.active
            opacity: 1
            visibility: visible
            .share-content
                opacity: 1
                visibility: visible
                transform: translateY(0)
