.btn
    --btn-c: var(--light)
    background-color: var(--btn-c)
    border-color: var(--btn-c)
    width: fit-content
    display: flex
    align-items: center
    justify-content: center
    min-height: 44px
    // white-space: nowrap
    gap: 8px
    padding: 2px 20px
    border-radius: $b-rad

    color: $dark
    text-wrap: balance
    text-align: center
    font-size: var(--font-md)
    line-height: 110%
    transition: .3s all ease
    text-overflow: ellipsis
    &:hover
        opacity: 1
    &:active
        transform: scale(.98)

    &-disabled,
    &:disabled
        pointer-events: none

    svg
        width: 20px
        height: 20px
        fill: $dark
        transition: .3s ease all

    &-light
        background-color: $main
        color: $primary
        svg
            fill: $primary

        &:hover
            color: $light
            background-color: $primary-hover

        &:active
            color: $light
            background-color: $primary-active

    &-primary
        --btn-c: var(--primary)
        color: $light !important
        svg
            fill: $light
            stroke: $light

        &:hover
            --btn-c: var(--primary-hover)

        &:active
            --btn-c: var(--primary-active)

    &-secondary
        --btn-c: var(--secondary)
        color: $primary
        svg
            fill: $primary-active
        &:hover
            --btn-c: var(--secondary-hover)
        &:active
            --btn-c: var(--secondary-active)

    &-gray,
    &-disabled
        --btn-c: var(--light-gray)

        .ic-menu
            --menu-color: rgba(var(--dark), 1)

        &:hover
            --btn-c: var(--secondary-hover)
        &:active
            --btn-c: var(--secondary-active)
    &-disabled
        --btn-c: var(--lighter-gray)

    &-success
        --btn-c: var(--success)
        color: $light
        &:hover
            --btn-c: var(--success-hover)

        &:active
            --btn-c: var(--success-active)

    &-outline
        border: 1px solid var(--text-gray)
        &:hover
            background-color: var(--light-gray)

        &:active

        .ic-menu
            --menu-color: var(--text-gray)

        &-main
            background-color: rgba(0, 0, 0, 0)
            border: 1px solid var(--main-secondary)

        &-dark-gray
            background-color: rgba(0, 0, 0, 0)
            border: 1px solid var(--dark-gray)

        &-light
            background-color: rgba(0, 0, 0, 0)
            border: 1px solid var(--dark-gray)

        &-primary
            background-color: rgba(0, 0, 0, 0)
            border: 1px solid $primary
            svg
                stroke: $dark

            &:hover
                background-color: $secondary

            &:active
                background-color: $secondary-active

        &-secondary
            background-color: rgba(0, 0, 0, 0)
            border: 1px solid $secondary
            &.active,
            &:hover
                color: $primary
                background-color: $secondary-hover
                svg
                    fill: $primary
            &:active
                color: $primary
                background-color: $secondary-active
                svg
                    fill: $primary

        &-success
            background-color: rgba(0, 0, 0, 0)
            border: 1px solid $success
            &:hover
                color: $light
                background-color: $success
                svg
                    fill: $light

            &:active
                color: $light
                background-color: $success-active
                svg
                    fill: $light

    &-icon
        min-width: 44px
        padding: 2px

    &-md
        min-height: 40px

        &.btn-icon
            min-width: 40px
            padding: 0 2px

    &-sm
        min-height: 40px
        svg
            width: 16px
            height: 16px

        &.btn-icon
            min-height: 24px
            min-width: 24px
            padding: 2px

    &-xsm
        min-height: 24px
        gap: 4px
        font-size: var(--font-sm-fx)
        padding: 0 8px
        svg
            width: 16px
            height: 16px

.badge
    display: inline-block
    padding: 5px 16.6px
    font-weight: 700
    text-transform: uppercase
    font-size: var(--font-sm)
    line-height: 100%
    border-radius: $b-rad
    &-success
        background-color: $success
        color: $light
    &-primary
        color: $light
        background-color: $primary
    &-secondary
        color: $primary
        background-color: $secondary

    &--sm
        font-size: 10px
        text-align: center
        border-radius: 50%
        padding: 2.6px
        min-width: 16px
        line-height: 100%

@media screen and ( max-width: 992px )
    .btn
        padding: 2px 16px

        &-icon
            padding: 2px

        &-xsm
            padding: 0 8px

    .badge
        &:not(.badge--sm)
            font-size: var(--font-sm)
            padding: 6px 8.5px
