.select
    display: flex
    align-items: center
    justify-content: space-between
    position: relative
    z-index: 11
    font-size: var(--font-md)
    cursor: pointer
    width: 100%
    text-align: left
    color: $dark
    .ic
        fill: $dark
        margin-left: auto

    &.bg-grayish
        .ic
            fill: var(--text-gray)

    & > span
        max-width: 85%
        overflow: hidden
        text-overflow: ellipsis
        white-space: nowrap

    &-wrap
        position: relative
        border-radius: 8px
        // z-index: 1
        width: 100%

    &-options
        display: none
        width: auto
        min-width: 100%
        max-width: 90vw
        position: absolute
        top: 100%
        left: 0
        z-index: 999
        background-color: $light
        overflow: hidden
        padding: 10px 0
        color: $dark
        border-radius: $b-rad
        box-shadow: 0px 4px 30px 0px rgba(0,0,0,.1)
        li
            padding: 7px var(--input-padding)
            cursor: pointer
            font-size: $font-md
            line-height: 120%
            margin: 0
            &:hover
                background-color: var(--light-gray)

            &[selected]
                background-color: $secondary

        .hidden
            display: none

    &.active
        .ic
            transform: scaleY(-1)

.active_line
    width: fit-content
    padding: 0 0 8px
    border-bottom: 2px solid $primary !important

.ic
    --ic-width: 16px
    vertical-align: middle
    min-width: var(--ic-width) !important
    width: var(--ic-width) !important
    height: var(--ic-width) !important
    fill: $dark
    stroke: $dark
    &-md
        --ic-width: 20px

    &-lg
        --ic-width: 24px

    &-xl
        --ic-width: 32px

    &-menu
        position: relative
        z-index: 1
        display: block
        height: 1.5px
        width: 16px
        margin: 0 2px
        border-radius: $b-rad
        --menu-color: $light
        background-color: var(--menu-color)

        &::before,
        &::after
            content: ''
            transition: inherit
            display: block
            height: 1.5px
            width: 100%
            position: absolute
            top: -6px
            left: 0
            border-radius: $b-rad
            background-color: var(--menu-color)

        &::after
            top: 6px

        &.active
            background-color: rgba(0, 0, 0, 0)
            &::before,
            &::after
                top: 50%
                transform: rotate(45deg)

            &::after
                transform: rotate(-45deg)

    &-btn
        display: block
        font-size: $font-xsm
        font-weight: bold
        line-height: 16px
        position: relative
        z-index: 1
        border-radius: $b-rad
        .badge
            position: absolute
            top: 3px
            right: 9px
            &:empty
                display: none

        .ic
            display: block
            margin: 0 auto
            fill: $primary

.inp
    &-label
        position: absolute
        left: calc( var(--input-padding) - 5px )
        color: $text-gray
        padding: 0 5px
        font-size: var(--font-sm-fx)
        line-height: 131%
        pointer-events: none
        top: 50%
        transform: translateY(-50%)
        transition: all ease .3s
        &__req
            color: $danger

    &-field
        min-height: 46px
        &::placeholder
            color: rgba(0, 0, 0, 0)

        &:not(:placeholder-shown),
        &:focus
            & ~ label
                top: -5px
                background-color: var(--light)
                transform: translateX(0)

        &:required
            & ~ label
                &::after
                    content: '*'
                    color: $primary

    &-textarea
        &--lg
            height: 161px

    &-group
        position: relative
        z-index: 1
        margin: 0
        textarea
            & + label
                top: 12px
                transform: none

    &-file,
    &-file__label
        line-height: 131%
        gap: 8px
        display: flex
        align-items: center

    &-file
        transition: opacity .3s ease
        &:hover,
        &:active
            opacity: .7

        input
            display: none

        &__label
            font-size: 14px
            line-height: 100%
            gap: 10px
            cursor: pointer

        &__clear
            fill: $text-gray

    &-checkbox
        position: relative
        z-index: 1
        padding-left: calc(var(--fild-width) + 10px)
        --fild-width: 20px
        min-height: var(--fild-width)
        &--sm
            --fild-width: 16px

        &__label
            display: block
            font-size: var(--font-sm-fx)
            line-height: 131%
            width: fit-content
            cursor: pointer
            color: $dark
            &::before
                content: ''
                border-radius: $b-rad
                border: 1px solid $b-color
                background-color: var(--light)
                pointer-events: none
                margin-right: 10px

            &::after
                content: ''
                pointer-events: none
                display: block
                z-index: 11
                width: calc( var(--fild-width) + 4px )
                height: calc( var(--fild-width) + 4px )
                position: absolute

                background-repeat: no-repeat
                background-size: contain
                background-image: url('../img/icon-check.svg')
                top: -2px
                left: -2px
                opacity: 0

        a
            position: relative
            z-index: 11

        input,
        &__label::before
            cursor: pointer
            position: absolute
            z-index: 1
            left: 0
            top: 0
            width: var(--fild-width)
            min-height: var(--fild-width)
            height: var(--fild-width)
            box-sizing: border-box

        input
            width: 100%
            height: 100%
            z-index: 11
            opacity: 0
            &:checked + *
                &::after
                    opacity: 1
                &::before
                    opacity: 0

                .ic
                    fill: $light

    &-wrap
        &__label
            font-size: var(--font-sm-fx)
            line-height: 100%
            display: block
            width: 100%
            margin: 0 0 4px

    &-btn
        position: relative
        z-index: 1
        &__label
            position: relative
            z-index: -1

        input
            cursor: pointer
            position: absolute
            z-index: 1
            left: 0
            top: 0
            width: 100%
            height: 100%
            z-index: 11
            opacity: 0
            &:checked + *
                color: var(--primary)
                background-color: var(--secondary)
                border-color: var(--secondary)

                .ic
                    fill: $light

.range
    &-group
    &-valls
        gap: 16px 4px
        &__label
            position: absolute
            top: 50%
            left: 8px
            transform: translateY(-50%)

        input
            padding-left: 35px

    &-col
        width: calc( (100% - 4px) / 2 )
        position: relative
        z-index: 1

.amount
    display: flex
    max-width: 180px
    &-input
        flex: 1
        min-height: 40px
        padding: 0
        background-color: rgba(0, 0, 0, 0)
        font-size: $font-md-fx
        border: none
        text-align: center
        -moz-appearance: textfield
        /* Remove spinner arrows in number input */
        &::-webkit-inner-spin-button,
        &::-webkit-outer-spin-button
            -moz-appearance: textfield
            -webkit-appearance: none
            appearance: none
            margin: 0
        &:hover,
        &:focus
            -webkit-appearance: none
            -moz-appearance: textfield
            appearance: none

    &-dec,
    &-inc
        padding: 12px
        width: 40px
        height: 40px
        cursor: pointer
        &:disabled
            cursor: not-allowed
            opacity: .6
        .ic
            display: block
            margin: 0 auto

.social
    gap: 8px
    &-link
        &__tg
            color: $light
            background-color: #3390EC
        &__wa
            color: $light
            background-color: #33CF6A
            .ic
                width: 24px
                height: 24px

.link-contact
    white-space: nowrap
    width: fit-content
    gap: 8px
    font-size: $font-md-fx

.form,
.form-group,
.form-row
    display: flex
    flex-direction: column
    &>*
        margin: 0

.form
    gap: 32px
    &--sm
        gap: 12px

    &-link
        text-decoration: underline
        color: $primary
        font-size: $font-sm-fx

    &-descr
        font-size: $font-sm-fx
        text-align: center

    &-label
        display: block
    &-row
        gap: 8px
        justify-content: space-between
        align-items: center
        flex-direction: row
        flex-wrap: wrap
        & > *
            font-size: $font-sm-fx
    &-info
        color: $text-gray
    &-group
        gap: 8px
        &>*
            width: 100%

        &--md
            gap: 12px
        &--lg
            gap: 16px

.searchbar
    position: relative
    z-index: 1
    flex: 1
    &__input
        width: 100%
        padding-right: 60px
        margin: 0

    &__btn
        top: 0
        right: 0
        position: absolute
        width: 60px
        height: 100%
        z-index: 11
        .ic
            margin: 0 auto
            display: block

.quicksearch
    background-color: var(--lighter-gray)
    border-radius: $b-rad
    padding: 16px
    &__heading
        margin-bottom: 16px

    &__form
        --input-padding: 12px
        gap: 8px
        flex-direction: row
        align-items: flex-end
        &>*
            &:nth-child(-n+4)
                width: 120px

            &:nth-child(4)
                flex: 1

[data-shop]
    &.active
        overflow: hidden
        background-color: var(--secondary)
        svg
            fill: var(--primary)
            animation: cart 1.5s forwards

.bg
    &-ligth
        background-color: var(--light) !important
        border-color: var(--light) !important
    &-gray
        background-color: var(--light-gray)
    &-grayish
        background-color: var(--lighter-gray)

.list
    &-disc
        padding-left: 0
        list-style: none
        font-size: $font-sm-fx
        li
            padding-left: 25px
            position: relative
            z-index: 1
            margin-bottom: 4px
            // text-wrap: balance
            &:last-child
                margin-bottom: 0
            &::before
                content: ''
                display: block
                width: 4px
                height: 4px
                border-radius: 50%
                position: absolute
                top: 8px
                left: 10px

                background-color: $dark

            &.c-gray
                &::before
                    background-color: var(--text-gray)

.info
    display: inline-block
    text-align: left
    position: relative
    z-index: 222
    .ic
        fill: var(--text-gray)

    &__text
        font-size: $font-md
        text-wrap: balance
        font-weight: normal
        position: absolute
        top: 100%
        padding: 16px
        width: 300px
        line-height: 113%
        z-index: 111
        max-width: 96vw
        background-color: var(--light-gray)
        border-radius: $b-rad

        pointer-events: none
        display: none
        &>*
            font-size: $font-md

    &.--show
        .ic
            fill: $dark

        .info__text
            pointer-events: unset

.hiding
    display: block
    width: fit-content
    color: var(--link-color)
    font-weight: 400
    font-size: $font-md-fx
    line-height: 100%
    text-decoration: underline
    text-decoration-style: solid
    text-decoration-skip-ink: auto

[data-hiding-item]
    animation: fadeIn .3s ease forwards
    &:not(.--show)
        display: none !important

[data-card-catcher]
    .btn:not(.btn-md) ~ *
        height: 44px

    [data-card-amount]
        &:not(.active)
            display: none
        &.active
            animation: fadeIn .3s ease forwards

.text 
    &-center 
        text-align: center !important
    
    &-start 
        text-align: left !important

    &-end
        text-align: right !important

@keyframes cart
    0%, 100%
        transform: translateX(0%) rotate(0deg)

    10%, 15%
        transform: translateX(-15%) rotate(-5deg)

    50%
        transform: translateX(150%) rotate(-26deg)
    50.01%
        transform: translateX(-150%) rotate(-16deg)

@media screen and ( max-width: 1199px ) and ( min-width: 768px )
    .quicksearch
        &--lg
            .quicksearch
                &__form
                    flex-wrap: wrap
                    gap: 16px 8px
                    &>*:nth-child(-n+4)
                        width: calc( (100% - 16px) / 3 )

@media screen and ( max-width: 991px )
    .quicksearch
        &__form
            flex-wrap: wrap
            gap: 16px 8px
            &>*:nth-child(-n+4)
                width: calc( (100% - 16px) / 3 )

@media screen and ( max-width: 767px )
    .ic
        &-btn
            padding: 5px
            width: 44px
            height: 44px
            border: 1px solid var(--dark-gray)
            &__text
                display: none

            .badge
                top: 6px
                right: 8px

    .quicksearch
        &__form
            flex-wrap: wrap
            gap: 16px 8px
            &>*
                &:nth-child(-n+4)
                    width: calc( (100% - 8px) / 2 )

                &:nth-child(4)
                    flex: none

                &:nth-child(5)
                    order: 3
                &:nth-child(6)
                    order: 2

            .btn
                &.btn-primary
                    flex: 1

@media screen and ( max-width: 576px )
    .quicksearch
        padding: 0
        background-color: unset
        border-radius: 0
        &:not(.quicksearch--lg)
            padding: var(--bs-gutter-x)
            width: calc( 100% + var(--bs-gutter-x) * 2 )
            position: relative
            left: calc( 0px - var(--bs-gutter-x) )
        &__form
            gap: 8px
            &>*
                &:nth-child(-n+4)
                    order: 1
                    width: 100%

