body,
.fx,
.header-top,
.header-middle,
.header-bottom,
.header-contact,
.header-menu,
.menu,
.breadcumbs,
.breadcumbs-li,
.product-wrap,
.product-stock,
.product-delivery__contact,
.product-art,
.product-row,
.product-btns,
.product-main,
.product-img,
.product-feature,
.product-features,
.product-delivery,
.product-contact__wrap,
.product-description,
.product-tab,
.product-list__li,
.product-contact__links,
.product-delivery__item,
.product-delivery__heading,
.listing-wrap,
.listing-content,
.listing-selected,
.type,
.type-wrap,
.fieldset-legend,
.fieldset-content,
.range-valls,
.fieldset-row,

.menu-header,
.menu-footer,
.navbar-order,
.navbar-order__stock,
.navbar-list,
.menu-list__link,
.header-submenu__btn,
.catalog-list__btn,
.header-fixed__container,
.header-fixed__row,
.partner,
.hero-wrap,
.hero-content,
.hero-slide__content,
.hero-features,
.hero-feature,
.hero-feature__title,
.hero-slide,
.hero-slide__btns,
.service,
.partner-wrap,
.partner-info,
.partner-title,
.service-list,
.delivery-partners,
.delivery-partner,
.delivery-list,
.contact-wrap,
.info-wrap,
.delivery-wrap,
.card,
.card-body,
.contact-title,
.card-footer,
.social,
.link-contact,
.contact-box,
.footer-btns,
.footer-nav,
.footer-contact,
.footer-col
    display: flex

.card,
.product-btns,
.product-delivery,
.product-delivery__item,
.product-main,
.product-contact__links,
.listing-content,

body,
.menu,
.menu-footer,
.hero-content,
.hero-slide__content,
.header-fixed__contact,
.card-body,
.delivery-partners,
.partner-title,
.contact-title,
.card-footer,
.card-footer,
.hero-feature,
.footer-contact,
.footer-nav,
.footer-col
    flex-direction: column
    gap: 4px
    
.fx,
.navbar-list,
.breadcumbs-li,
.header-fixed__row,
.product-delivery__contact,
.product-feature,
.product-art,
.product-stock,
.product-contact__wrap,
.product-delivery__heading,
.type,

.navbar-order,
.navbar-order__stock,
.hero-feature__title,
.catalog-list__btn,
.menu-header,
.menu-list__link,
.header-submenu__btn,
.header-fixed__container,
.header-bottom,
.header-middle
    align-items: center


.product-features,
.product-contact,
.product-contact__wrap,
.type-wrap,
.fieldset-content,
.listing-selected,
.range-valls,
.fieldset-row,

.product-row
    flex-wrap: wrap

.product-contact__links
    align-items: flex-end

.navbar-order,
.product-contact__wrap
    justify-content: space-between

.product-contact__wrap
    align-items: flex-end
