.header-top,
.header-middle,
.header-bottom,
.header-contact,
.header-menu,
.partner,
.service,
.partner-wrap,
.partner-info,
.partner-title,
.service-list,
.delivery-partners,
.delivery-partner,
.delivery-list,
.contact-wrap,
.info-wrap,
.delivery-wrap,
.card,
.card-body,
.contact-title,
.social,
.link-contact,
.contact-box,
.card-footer,
.footer-btns,
.footer-nav,
.footer-contact,
.footer-col
    display: flex

.card,
.card-body,
.delivery-partners,
.partner-title,
.contact-title,
.card-footer,
.card-footer,
.footer-contact,
.footer-nav,
.footer-col
    flex-direction: column
    gap: 4px
