.header
    &-top
        padding: 8px 0
        background-color: var(--light-gray)
        box-shadow: 0 0 0 100vmax var(--light-gray)
        clip-path: inset(0 -100vmax)
        &>*
            margin: 0

        &__text
            font-size: $font-sm

    &-contact
        gap: 40px
        margin-left: auto
        .social
            gap: 4px

    &-logo 
        margin-right: auto
        img 
            max-width: 145px
            display: block
            margin: 0 auto 

    &-middle
        padding: 8px 0

    &-bottom
        padding: 4px 0
        &__logo
            display: none

    &-middle,
    &-bottom
        align-items: center
        gap: $gap
        &>*
            &:first-child
                width: calc( (311 / 1290) * 100% )

    &-nav
        margin-left: auto
        flex: 1

    &-menu
        padding: 0
        justify-content: space-between
        list-style: none
        &__link
            text-transform: uppercase
            font-size: $font-md-fx
            display: block

        &__item
            margin: 0

        &__btn
            display: none
           
    @media screen and ( max-width: 1200px )
        &-contact
            gap: 24px

        &-menu
            &__btn 
                display: block        

        &-middle
            display: none

        &-bottom
            &__logo
                display: block

        .catalog
            &-btn
                display: none

        &-logo 

    
    @media screen and ( max-width: 991px )
        &-top 
            display: none

        &-bottom
            flex-wrap: wrap
            gap: 8px $gap
            padding: 12px 0 8px
            &>* 
                order: 1

            .searchbar
                width: 100%
                order: 8
                flex: none

        &-logo 

    @media screen and ( max-width: 767px )
        &-bottom
            gap: 8px 4px
            .btn-outline-primary
                display: none

        &-logo 
            margin: 0 auto 
        

.catalog
    &-btn
        justify-content: flex-start
        text-transform: uppercase
