.listing
    &-wrap
        gap: $gap
        &>*
            &:last-child
                flex: 1
                width: calc( (931 / 1290) * 100% )

            &:first-child
                width: calc( (311 / 1290) * 100% )

    &-content
        gap: 40px 8px

    &-selected
        gap: 10px

    &-row
        gap: $gap 8px

    &-togglers
        gap: 8px
        &>*
            width: fit-content !important

    @media screen and ( max-width:  991px)
        &-filter
            display: none

        &-content
            gap: 24px
            width: 100%

    @media screen and ( max-width:  767px)
        &-content
            gap: $gap

    @media screen and ( max-width: 576px )
        &-togglers
            gap: $gap
            &>*
                width: 100% !important

.type
    border-radius: $b-rad
    box-shadow: var(--card-shadow)
    &-img
        --tw: 80px
        width: var(--tw)
        min-width: var(--tw)
        height: var(--tw)
        object-fit: cover
        border-radius: $b-rad

    &-descr
        padding: 8px 16px
        font-size: $font-sm

    &-wrap
        gap: $gap
        &>*
            width: calc( (100% - $gap * 2) / 3 )

    @media screen and ( max-width: 1199px ) and ( min-width: 767px )
        &-img
            --tw: 50px

        &-descr
            padding: 8px

        &-wrap
            gap: $gap 8px
            &>*
                --base-gap: 8px

    @media screen and ( max-width: 767px )
        &-img
            --tw: 74px

        &-descr
            font-size: $font-md

        &-wrap
            &>*
                width: calc( (100% - $gap) / 2 )

    @media screen and ( max-width: 576px )
        &-wrap
            &>*
                width: 100%

.fieldset
    border-radius: $b-rad
    display: block
    overflow: hidden
    border: 1px solid var(--light-gray)
    margin-bottom: 8px
    &>
        .fieldset-legend
            border-radius: 0

    &-legend
        width: 100%
        font-size: $font-md
        border-radius: $b-rad
        padding: 11.5px 16px
        gap: 8px
        background-color: var(--light-gray)
        .ic
            margin-left: auto
            &-lg
                margin: 0

        &.active
            .ic:not(.ic-lg)
                transform: scaleY(-1)

    &-search
        margin: auto 0
        max-width: 100%
        width: 100% !important
        padding: 0 16px
        min-height: 38px
        border-color: var(--dark-gray)

    &-content
        padding: 16px
        gap: $gap 8px
        &>*
            width: calc( (100% - 8px) / 2 )

        &--fixed
            &>*
                width: 100% !important

        &--single
            &>*
                width: 100%

    &-row
        gap: 8px

    @media screen and ( min-width: 992px ) and ( max-width: 1199px )
        &-content
            &>*
                width: 100%

    @media screen and ( min-width: 576px ) and ( max-width: 991px )
        &-content
            &:not(.fieldset-content--single)
                &>*
                    width: calc((100% - 16px) / 3)

            &--single
                &>*
                    width: calc((100% - 8px) / 2)

    @media screen and ( max-width: 991px )
        &-row
            padding: 8px 0
            .btn
                &-primary
                    flex: 1

table
    width: 100%
    td, th
        font-weight: normal
        font-size: $font-md
        padding: 13.5px 12px
        padding: 11px 12px
        text-align: left
        // width: 10%
        &:first-child
            // width: 40%

        &:last-child

    .fx
        gap: 4px
        &-lg
            gap: 16px

    thead
        th
            white-space: nowrap
            color: $light
            background-color: $primary
            &:first-child
                border-top-left-radius: $b-rad
                border-bottom-left-radius: $b-rad
            &:last-child
                border-top-right-radius: $b-rad
                border-bottom-right-radius: $b-rad

        .info
            .ic
                fill: $light !important

            &__text
                color: $dark

    tbody
        td
            font-size: $font-sm
        tr
            &:nth-child(even) td
                background-color: var(--light-gray)

        .fx
            .ic
                --ic-width: 14px

    .amount
        width: 80px
        &-input
            min-height: 20px
        &-inc,
        &-dec
            padding: 3px
            width: 20px
            height: 20px

    @media screen and ( max-width: 1199px )
        .fx
            &-lg
                gap: 8px

    @media screen and ( max-width: 767px )
        background-color: var(--light-gray)
        box-shadow: 0 0 0 100vmax var(--light-gray)
        clip-path: inset(0 -100vmax)
        padding: 16px 0
        display: block
        thead
            display: none

        tr
            padding: 8px
            display: flex
            border-radius: $b-rad
            background-color: $light
            flex-wrap: wrap
            margin-bottom: 4px
            &:last-child
                margin-bottom: 0

        td
            padding: 9.5px
            background-color: rgba(0, 0, 0, 0) !important
            &:first-child
                width: 100%

            &:last-child
                padding: 0
                width: 100%

        .btn
            &-primary
                white-space: nowrap
            &-sm
                min-width: 40px

[data-hide]
    &:not(.--show)
        display: none

.show
    &-more
        text-decoration: underline
        display: block
        margin: 0 auto
        width: 100%
        max-width: 100%
        color: var(--text-gray)
        text-align: left
        .ic
            fill: var(--text-gray)
