.modal
    position: fixed
    top: 0
    left: 0
    height: 100%
    width: 100vw
    z-index: 99999
    background-color: rgba(var(--dark), .2)
    padding: 20px calc(var(--bs-gutter-x) * 0.5)
    box-sizing: border-box
    overflow-y: scroll
    align-items: center
    justify-content: center
    display: none

    &-content
        width: 100%
        max-width: 400px
        padding: 32px 20px
        display: block
        background-color: #fff
        transition: transform ease .3s
        color: #000
        text-align: left
        margin: auto !important
        transform: translateY(10%)
        position: relative
        z-index: 1

        // top: 50%
        // left: 50%
        // transform: translate(-50%, -50%)
        // overflow-y: scroll
        // -ms-overflow-style: none
        // scrollbar-width: none
        // &::-webkit-scrollbar
        //     display: none
        //     width: 0
        //     height: 0

    &-heading
        text-align: center
        color: $primary
        margin: 0 0 32px
        &--alt
            text-align: left
            margin-bottom: 16px

    &-close
        position: absolute
        padding: 10px
        top: 22px
        right: 10px
        .ic
            fill: $text-gray
            width: 24px
            height: 24px

        &--left
            padding-left: 0
            right: auto
            left: 10px

    &-product
        display: flex
        align-items: center
        gap: 8px
        &__img
            min-width: 80px
            width: 80px
            height: 80px
            &>*
                width: 100%
                height: 100%
                object-fit: cover

        &__name
            font-size: $font-md
            font-weight: 700

        &__text
            font-size: $font-sm
            margin-top: 8px

    .catalog-list
        max-width: 50%

    &-lg
        .modal
            &-content
                max-width: 700px

    &.active
        display: flex
        &>*
            transform: translateY(0%)

    @media screen and ( max-width: 991px )
        &#modal-catalog
            .modal-close
                right: 20px

    @media screen and ( max-width: 576px )
        padding: 20px 0
        &-close
            top: 3px
            right: 6px
            &--left
                right: auto
                left: 16px

        &-content
            border-radius: 12px
            padding: 12px 16px
        &-heading
            color: $dark
            font-size: $font-md-fx
            line-height: 21px
            margin-bottom: 28px

        &#modal-catalog
            .modal-close
                right: 16px
                &--left
                    right: auto
                    left: 16px
